@import '../colorbase/default.css';

:root,
[theme='light'] {
	--fds-c-neutral-background-minimum: var(--fds-cb-gray94);
	--fds-c-neutral-background-low: var(--fds-cb-gray96);
	--fds-c-neutral-background-medium: var(--fds-cb-gray98);
	--fds-c-neutral-background-high: var(--fds-cb-gray100);
	--fds-c-neutral-background-modaloverlay: var(--fds-cb-alphablack40);
	--fds-c-neutral-surface-shift-low: var(--fds-cb-alphablack5);
	--fds-c-neutral-surface-shift-disabled: var(--fds-cb-alphablack5);
	--fds-c-neutral-surface-shift-low-hover: var(--fds-cb-alphablack10);
	--fds-c-neutral-surface-shift-low-pressed: var(--fds-cb-alphablack15);
	--fds-c-neutral-surface-shift-medium: var(--fds-cb-alphablack10);
	--fds-c-neutral-surface-shift-medium-hover: var(--fds-cb-alphablack15);
	--fds-c-neutral-surface-high: var(--fds-cb-gray100);
	--fds-c-neutral-surface-high-disabled: var(--fds-cb-alphablack2);
	--fds-c-neutral-surface-high-hover: var(--fds-cb-gray98);
	--fds-c-neutral-surface-none-hover: var(--fds-cb-alphablack5);
	--fds-c-neutral-surface-none-pressed: var(--fds-cb-alphablack10);
	--fds-c-neutral-surface-darken: var(--fds-cb-alphablack2);
	--fds-c-neutral-surface-lighten: var(--fds-cb-alphawhite80);
	--fds-c-neutral-surface-lighten-hover: var(--fds-cb-alphawhite20);
	--fds-c-neutral-surface-inverted: var(--fds-cb-gray19);
	--fds-c-neutral-texticon-onneutral-1spot: var(--fds-cb-alphablack25);
	--fds-c-neutral-texticon-onneutral-2headline: var(--fds-cb-alphablack37);
	--fds-c-neutral-texticon-onneutral-3content: var(--fds-cb-alphablack54);
	--fds-c-neutral-texticon-onneutral-4body: var(--fds-cb-alphablack65);
	--fds-c-neutral-texticon-onneutral-5fluent: var(--fds-cb-alphablack83);
	--fds-c-neutral-texticon-onneutral-inverted: var(--fds-cb-gray100);
	--fds-c-neutral-stroke-disabled: var(--fds-cb-alphablack2);
	--fds-c-neutral-stroke-low: var(--fds-cb-alphablack5);
	--fds-c-neutral-stroke-medium: var(--fds-cb-alphablack10);
	--fds-c-primary-surface: var(--fds-cb-bluel50);
	--fds-c-primary-surface-disabled: var(--fds-cb-alphablue30);
	--fds-c-primary-surface-hover: var(--fds-cb-bluel42);
	--fds-c-primary-surface-pressed: var(--fds-cb-bluel34);
	--fds-c-primary-surface-low: var(--fds-cb-alphablue8);
	--fds-c-primary-surface-low-hover: var(--fds-cb-alphablue15);
	--fds-c-primary-surface-low-pressed: var(--fds-cb-alphablue30);
	--fds-c-primary-texticon-onneutral: var(--fds-cb-bluel42);
	--fds-c-primary-texticon-onneutral-disabled: var(--fds-cb-alphablue30);
	--fds-c-primary-texticon-onprimary: var(--fds-cb-gray100);
	--fds-c-primary-stroke: var(--fds-cb-bluel50);
	--fds-c-primary-stroke-hover: var(--fds-cb-bluel42);
	--fds-c-primary-stroke-focus: var(--fds-cb-alphablue30);
	--fds-c-positive-surface: var(--fds-cb-greenl44);
	--fds-c-positive-surface-hover: var(--fds-cb-greenl36);
	--fds-c-positive-surface-pressed: var(--fds-cb-greenl28);
	--fds-c-positive-surface-low: var(--fds-cb-alphagreen10);
	--fds-c-positive-surface-low-hover: var(--fds-cb-alphagreen15);
	--fds-c-positive-texticon-onneutral: var(--fds-cb-greenl44);
	--fds-c-positive-texticon-onpositive: var(--fds-cb-gray100);
	--fds-c-warning-surface: var(--fds-cb-yellowl88);
	--fds-c-warning-surface-hover: var(--fds-cb-yellowl78);
	--fds-c-warning-surface-low: var(--fds-cb-alphayellow8);
	--fds-c-warning-surface-low-hover: var(--fds-cb-alphayellow15);
	--fds-c-warning-texticon-onneutral: var(--fds-cb-yellowl45);
	--fds-c-warning-texticon-onwarning: var(--fds-cb-yellowl26);
	--fds-c-negative-surface: var(--fds-cb-redl36);
	--fds-c-negative-surface-hover: var(--fds-cb-redl28);
	--fds-c-negative-surface-pressed: var(--fds-cb-redl22);
	--fds-c-negative-surface-disabled: var(--fds-cb-alphared30);
	--fds-c-negative-surface-low: var(--fds-cb-alphared8);
	--fds-c-negative-surface-low-hover: var(--fds-cb-alphared13);
	--fds-c-negative-texticon-onneutral: var(--fds-cb-redl36);
	--fds-c-negative-texticon-onnegative: var(--fds-cb-gray100);
	--fds-c-negative-stroke: var(--fds-cb-redl36);
	--fds-c-accent-surface: var(--fds-cb-purplel42);
	--fds-c-accent-surface-hover: var(--fds-cb-purplel36);
	--fds-c-accent-surface-pressed: var(--fds-cb-purplel28);
	--fds-c-accent-surface-disabled: var(--fds-cb-alphapurple35);
	--fds-c-accent-surface-low: var(--fds-cb-alphapurple10);
	--fds-c-accent-surface-low-hover: var(--fds-cb-alphapurple20);
	--fds-c-accent-texticon-onneutral: var(--fds-cb-purplel42);
	--fds-c-accent-texticon-onaccent: var(--fds-cb-gray100);
	--fds-c-gradient-bluepurple-0: var(--fds-cb-gradient-bluepurplel-0);
	--fds-c-gradient-bluepurple-1: var(--fds-cb-gradient-bluepurplel-1);
	--fds-c-palette-base: var(--fds-cb-gray19);
	--fds-c-palette-red: var(--fds-cb-palette-0l85);
	--fds-c-palette-orange: var(--fds-cb-palette-40l85);
	--fds-c-palette-yellow: var(--fds-cb-palette-80l90);
	--fds-c-palette-green: var(--fds-cb-palette-120l90);
	--fds-c-palette-lime: var(--fds-cb-palette-160l90);
	--fds-c-palette-cyan: var(--fds-cb-palette-200l90);
	--fds-c-palette-blue: var(--fds-cb-palette-240l90);
	--fds-c-palette-indigo: var(--fds-cb-palette-280l85);
	--fds-c-palette-violet: var(--fds-cb-palette-320l85);
}

[theme='dark'] {
	--fds-c-neutral-background-minimum: var(--fds-cb-gray6);
	--fds-c-neutral-background-low: var(--fds-cb-gray8);
	--fds-c-neutral-background-medium: var(--fds-cb-gray11);
	--fds-c-neutral-background-high: var(--fds-cb-gray15);
	--fds-c-neutral-background-modaloverlay: var(--fds-cb-alphablack60);
	--fds-c-neutral-surface-shift-low: var(--fds-cb-alphawhite5);
	--fds-c-neutral-surface-shift-disabled: var(--fds-cb-alphawhite4);
	--fds-c-neutral-surface-shift-low-hover: var(--fds-cb-alphawhite10);
	--fds-c-neutral-surface-shift-low-pressed: var(--fds-cb-alphawhite15);
	--fds-c-neutral-surface-shift-medium: var(--fds-cb-alphawhite15);
	--fds-c-neutral-surface-shift-medium-hover: var(--fds-cb-alphawhite20);
	--fds-c-neutral-surface-high: var(--fds-cb-gray19);
	--fds-c-neutral-surface-high-disabled: var(--fds-cb-alphablack10);
	--fds-c-neutral-surface-high-hover: var(--fds-cb-gray26);
	--fds-c-neutral-surface-none-hover: var(--fds-cb-alphawhite5);
	--fds-c-neutral-surface-none-pressed: var(--fds-cb-alphawhite10);
	--fds-c-neutral-surface-darken: var(--fds-cb-alphablack10);
	--fds-c-neutral-surface-lighten: var(--fds-cb-alphawhite4);
	--fds-c-neutral-surface-lighten-hover: var(--fds-cb-alphawhite10);
	--fds-c-neutral-surface-inverted: var(--fds-cb-gray100);
	--fds-c-neutral-texticon-onneutral-1spot: var(--fds-cb-alphawhite43);
	--fds-c-neutral-texticon-onneutral-2headline: var(--fds-cb-alphawhite56);
	--fds-c-neutral-texticon-onneutral-3content: var(--fds-cb-alphawhite68);
	--fds-c-neutral-texticon-onneutral-4body: var(--fds-cb-alphawhite80);
	--fds-c-neutral-texticon-onneutral-5fluent: var(--fds-cb-alphawhite90);
	--fds-c-neutral-texticon-onneutral-inverted: var(--fds-cb-gray5);
	--fds-c-neutral-stroke-disabled: var(--fds-cb-alphawhite2);
	--fds-c-neutral-stroke-low: var(--fds-cb-alphawhite4);
	--fds-c-neutral-stroke-medium: var(--fds-cb-alphawhite15);
	--fds-c-primary-surface: var(--fds-cb-blued53);
	--fds-c-primary-surface-disabled: var(--fds-cb-alphablue30);
	--fds-c-primary-surface-hover: var(--fds-cb-blued61);
	--fds-c-primary-surface-pressed: var(--fds-cb-blued71);
	--fds-c-primary-surface-low: var(--fds-cb-alphablue15);
	--fds-c-primary-surface-low-hover: var(--fds-cb-alphablue30);
	--fds-c-primary-surface-low-pressed: var(--fds-cb-alphablue45);
	--fds-c-primary-texticon-onneutral: var(--fds-cb-blued71);
	--fds-c-primary-texticon-onneutral-disabled: var(--fds-cb-alphablue45);
	--fds-c-primary-texticon-onprimary: var(--fds-cb-gray5);
	--fds-c-primary-stroke: var(--fds-cb-blued53);
	--fds-c-primary-stroke-hover: var(--fds-cb-blued61);
	--fds-c-primary-stroke-focus: var(--fds-cb-alphablue30);
	--fds-c-positive-surface: var(--fds-cb-greend58);
	--fds-c-positive-surface-hover: var(--fds-cb-greend68);
	--fds-c-positive-surface-pressed: var(--fds-cb-greend78);
	--fds-c-positive-surface-low: var(--fds-cb-alphagreen15);
	--fds-c-positive-surface-low-hover: var(--fds-cb-alphagreen30);
	--fds-c-positive-texticon-onneutral: var(--fds-cb-greend68);
	--fds-c-positive-texticon-onpositive: var(--fds-cb-gray5);
	--fds-c-warning-surface: var(--fds-cb-yellowd80);
	--fds-c-warning-surface-hover: var(--fds-cb-yellowd88);
	--fds-c-warning-surface-low: var(--fds-cb-alphayellow15);
	--fds-c-warning-surface-low-hover: var(--fds-cb-alphayellow30);
	--fds-c-warning-texticon-onneutral: var(--fds-cb-yellowd80);
	--fds-c-warning-texticon-onwarning: var(--fds-cb-gray5);
	--fds-c-negative-surface: var(--fds-cb-redd56);
	--fds-c-negative-surface-hover: var(--fds-cb-redd66);
	--fds-c-negative-surface-pressed: var(--fds-cb-redd74);
	--fds-c-negative-surface-disabled: var(--fds-cb-alphared30);
	--fds-c-negative-surface-low: var(--fds-cb-alphared13);
	--fds-c-negative-surface-low-hover: var(--fds-cb-alphared30);
	--fds-c-negative-texticon-onneutral: var(--fds-cb-redd66);
	--fds-c-negative-texticon-onnegative: var(--fds-cb-gray5);
	--fds-c-negative-stroke: var(--fds-cb-redd56);
	--fds-c-accent-surface: var(--fds-cb-purpled55);
	--fds-c-accent-surface-hover: var(--fds-cb-purpled65);
	--fds-c-accent-surface-pressed: var(--fds-cb-purpled75);
	--fds-c-accent-surface-disabled: var(--fds-cb-alphapurple35);
	--fds-c-accent-surface-low: var(--fds-cb-alphapurple20);
	--fds-c-accent-surface-low-hover: var(--fds-cb-alphapurple35);
	--fds-c-accent-texticon-onneutral: var(--fds-cb-purpled65);
	--fds-c-accent-texticon-onaccent: var(--fds-cb-gray5);
	--fds-c-gradient-bluepurple-0: var(--fds-cb-gradient-bluepurpled-0);
	--fds-c-gradient-bluepurple-1: var(--fds-cb-gradient-bluepurpled-1);
	--fds-c-palette-base: var(--fds-cb-gray19);
	--fds-c-palette-red: var(--fds-cb-palette-0d80);
	--fds-c-palette-orange: var(--fds-cb-palette-40d80);
	--fds-c-palette-yellow: var(--fds-cb-palette-80d85);
	--fds-c-palette-green: var(--fds-cb-palette-120d85);
	--fds-c-palette-lime: var(--fds-cb-palette-160d85);
	--fds-c-palette-cyan: var(--fds-cb-palette-200d85);
	--fds-c-palette-blue: var(--fds-cb-palette-240d85);
	--fds-c-palette-indigo: var(--fds-cb-palette-280d80);
	--fds-c-palette-violet: var(--fds-cb-palette-320d80);
}