:root {
	--fds-t-title-h1-semibold-font-family: var(--fds-tb-family-primary);
	--fds-t-title-h1-semibold-font-size: var(--fds-tb-size-700)px;
	--fds-t-title-h1-semibold-line-height: var(--fds-tb-lineheight-700)px;
	--fds-t-title-h1-semibold-font-weight: var(--fds-tb-weight-lg)px;
	--fds-t-title-h2-semibold-font-family: var(--fds-tb-family-primary);
	--fds-t-title-h2-semibold-font-weight: var(--fds-tb-weight-lg)px;
	--fds-t-title-h2-semibold-font-size: var(--fds-tb-size-550)px;
	--fds-t-title-h2-semibold-line-height: var(--fds-tb-lineheight-700)px;
	--fds-t-title-h2-regular-font-family: var(--fds-tb-family-primary);
	--fds-t-title-h2-regular-font-weight: var(--fds-tb-weight-md)px;
	--fds-t-title-h2-regular-font-size: var(--fds-tb-size-550)px;
	--fds-t-title-h2-regular-line-height: var(--fds-tb-lineheight-700)px;
	--fds-t-title-h3-semibold-font-family: var(--fds-tb-family-primary);
	--fds-t-title-h3-semibold-font-weight: var(--fds-tb-weight-lg)px;
	--fds-t-title-h3-semibold-font-size: var(--fds-tb-size-450)px;
	--fds-t-title-h3-semibold-line-height: var(--fds-tb-lineheight-700)px;
	--fds-t-body-lg-semibold-font-family: var(--fds-tb-family-primary);
	--fds-t-body-lg-semibold-font-weight: var(--fds-tb-weight-lg)px;
	--fds-t-body-lg-semibold-font-size: var(--fds-tb-size-350)px;
	--fds-t-body-lg-semibold-line-height: var(--fds-tb-lineheight-500)px;
	--fds-t-body-lg-regular-font-family: var(--fds-tb-family-primary);
	--fds-t-body-lg-regular-font-weight: var(--fds-tb-weight-md)px;
	--fds-t-body-lg-regular-font-size: var(--fds-tb-size-350)px;
	--fds-t-body-lg-regular-line-height: var(--fds-tb-lineheight-500)px;
	--fds-t-body-md-caps-semibold-font-family: var(--fds-tb-family-primary);
	--fds-t-body-md-caps-semibold-font-weight: var(--fds-tb-weight-lg)px;
	--fds-t-body-md-caps-semibold-font-size: var(--fds-tb-size-300)px;
	--fds-t-body-md-caps-semibold-line-height: var(--fds-tb-lineheight-450)px;
	--fds-t-body-md-caps-regular-font-family: var(--fds-tb-family-primary);
	--fds-t-body-md-caps-regular-font-weight: var(--fds-tb-weight-md)px;
	--fds-t-body-md-caps-regular-font-size: var(--fds-tb-size-300)px;
	--fds-t-body-md-caps-regular-line-height: var(--fds-tb-lineheight-450)px;
	--fds-t-body-md-semibold-font-family: var(--fds-tb-family-primary);
	--fds-t-body-md-semibold-font-weight: var(--fds-tb-weight-lg)px;
	--fds-t-body-md-semibold-font-size: var(--fds-tb-size-300)px;
	--fds-t-body-md-semibold-line-height: var(--fds-tb-lineheight-450)px;
	--fds-t-body-md-regular-font-family: var(--fds-tb-family-primary);
	--fds-t-body-md-regular-font-weight: var(--fds-tb-weight-md)px;
	--fds-t-body-md-regular-font-size: var(--fds-tb-size-300)px;
	--fds-t-body-md-regular-line-height: var(--fds-tb-lineheight-450)px;
	--fds-t-body-sm-semibold-font-family: var(--fds-tb-family-primary);
	--fds-t-body-sm-semibold-font-weight: var(--fds-tb-weight-lg)px;
	--fds-t-body-sm-semibold-font-size: var(--fds-tb-size-250)px;
	--fds-t-body-sm-semibold-line-height: var(--fds-tb-lineheight-400)px;
	--fds-t-body-sm-regular-font-family: var(--fds-tb-family-primary);
	--fds-t-body-sm-regular-font-weight: var(--fds-tb-weight-md)px;
	--fds-t-body-sm-regular-font-size: var(--fds-tb-size-250)px;
	--fds-t-body-sm-regular-line-height: var(--fds-tb-lineheight-400)px;
	--fds-t-body-xs-semibold-font-family: var(--fds-tb-family-primary);
	--fds-t-body-xs-semibold-font-weight: var(--fds-tb-weight-lg)px;
	--fds-t-body-xs-semibold-font-size: var(--fds-tb-size-225)px;
	--fds-t-body-xs-semibold-line-height: var(--fds-tb-lineheight-300)px;
	--fds-t-body-xs-regular-font-family: var(--fds-tb-family-primary);
	--fds-t-body-xs-regular-font-weight: var(--fds-tb-weight-md)px;
	--fds-t-body-xs-regular-font-size: var(--fds-tb-size-225)px;
	--fds-t-body-xs-regular-line-height: var(--fds-tb-lineheight-300)px;
	--fds-t-link-lg-semibold-font-family: var(--fds-tb-family-primary);
	--fds-t-link-lg-semibold-font-weight: var(--fds-tb-weight-lg)px;
	--fds-t-link-lg-semibold-font-size: var(--fds-tb-size-350)px;
	--fds-t-link-lg-semibold-line-height: var(--fds-tb-lineheight-500)px;
	--fds-t-link-md-semibold-font-family: var(--fds-tb-family-primary);
	--fds-t-link-md-semibold-font-weight: var(--fds-tb-weight-lg)px;
	--fds-t-link-md-semibold-font-size: var(--fds-tb-size-300)px;
	--fds-t-link-md-semibold-line-height: var(--fds-tb-lineheight-450)px;
	--fds-t-body-lg-bold-font-family: var(--fds-tb-family-primary);
	--fds-t-body-lg-bold-font-weight: var(--fds-tb-weight-xl)px;
	--fds-t-body-lg-bold-font-size: var(--fds-tb-size-350)px;
	--fds-t-body-lg-bold-line-height: var(--fds-tb-lineheight-500)px;
	--fds-t-body-md-medium-font-family: var(--fds-tb-family-primary);
	--fds-t-body-md-medium-font-weight: var(--fds-tb-weight-ml)px;
	--fds-t-body-md-medium-font-size: var(--fds-tb-size-300)px;
	--fds-t-body-md-medium-line-height: var(--fds-tb-lineheight-450)px;
	--fds-t-body-sm-medium-font-family: var(--fds-tb-family-primary);
	--fds-t-body-sm-medium-font-weight: var(--fds-tb-weight-ml)px;
	--fds-t-body-sm-medium-font-size: var(--fds-tb-size-250)px;
	--fds-t-body-sm-medium-line-height: var(--fds-tb-lineheight-400)px;
	--fds-t-title-h3-medium-font-family: var(--fds-tb-family-primary);
	--fds-t-title-h3-medium-font-weight: var(--fds-tb-weight-ml)px;
	--fds-t-title-h3-medium-font-size: var(--fds-tb-size-450)px;
	--fds-t-title-h3-medium-line-height: var(--fds-tb-lineheight-700)px;
	--fds-t-title-h2-medium-font-family: var(--fds-tb-family-primary);
	--fds-t-title-h2-medium-font-weight: var(--fds-tb-weight-ml)px;
	--fds-t-title-h2-medium-font-size: var(--fds-tb-size-550)px;
	--fds-t-title-h2-medium-line-height: var(--fds-tb-lineheight-700)px;
	--fds-t-body-lg-medium-font-family: var(--fds-tb-family-primary);
	--fds-t-body-lg-medium-font-weight: var(--fds-tb-weight-ml)px;
	--fds-t-body-lg-medium-font-size: var(--fds-tb-size-350)px;
	--fds-t-body-lg-medium-line-height: var(--fds-tb-lineheight-500)px;
}