:root {
	--fds-cb-gray5: #111;
	--fds-cb-gray6: #131314;
	--fds-cb-gray8: #161719;
	--fds-cb-gray11: #1b1d21;
	--fds-cb-gray15: #242529;
	--fds-cb-gray19: #2e2f33;
	--fds-cb-gray26: #3d3e42;
	--fds-cb-gray94: #ededee;
	--fds-cb-gray96: #f3f3f4;
	--fds-cb-gray98: #f8f8f9;
	--fds-cb-gray100: #fff;
	--fds-cb-redl22: #6f0506;
	--fds-cb-redl28: #8b0005;
	--fds-cb-redl36: #ab0909;
	--fds-cb-redd56: #de5b5d;
	--fds-cb-redd66: #ff746c;
	--fds-cb-redd74: #ff9a97;
	--fds-cb-yellowl26: #4e3b00;
	--fds-cb-yellowl45: #846708;
	--fds-cb-yellowl78: #e7bc3c;
	--fds-cb-yellowl88: #ffd974;
	--fds-cb-yellowd80: #f3be62;
	--fds-cb-yellowd88: #ffd694;
	--fds-cb-greenl28: #004d26;
	--fds-cb-greenl36: #006232;
	--fds-cb-greenl44: #06783f;
	--fds-cb-greend58: #379d63;
	--fds-cb-greend68: #54b87b;
	--fds-cb-greend78: #75d591;
	--fds-cb-bluel34: #00557c;
	--fds-cb-bluel42: #0c6996;
	--fds-cb-bluel50: #007eb5;
	--fds-cb-blued53: #2384cd;
	--fds-cb-blued61: #4198e3;
	--fds-cb-blued71: #72b3f3;
	--fds-cb-purplel28: #482e92;
	--fds-cb-purplel36: #5b43a6;
	--fds-cb-purplel42: #6a52b5;
	--fds-cb-purpled55: #886ef3;
	--fds-cb-purpled65: #a38dff;
	--fds-cb-purpled75: #beaeff;
	--fds-cb-alphablue8: #2384cd14;
	--fds-cb-alphablue15: #2384cd26;
	--fds-cb-alphablue30: #2384cd4d;
	--fds-cb-alphablue45: #2384cd73;
	--fds-cb-alphagreen10: #379d631a;
	--fds-cb-alphagreen15: #379d6326;
	--fds-cb-alphagreen30: #379d634d;
	--fds-cb-alphayellow8: #be860014;
	--fds-cb-alphayellow15: #be860026;
	--fds-cb-alphayellow30: #be86004d;
	--fds-cb-alphared8: #de5b5d14;
	--fds-cb-alphared13: #de5b5d21;
	--fds-cb-alphared30: #de5b5d4d;
	--fds-cb-alphapurple10: #6246c91a;
	--fds-cb-alphapurple20: #6246c933;
	--fds-cb-alphapurple35: #6246c959;
	--fds-cb-alphablack2: #00000005;
	--fds-cb-alphablack5: #0000000d;
	--fds-cb-alphablack10: #0000001a;
	--fds-cb-alphablack15: #00000026;
	--fds-cb-alphablack25: #00000040;
	--fds-cb-alphablack37: #0000005e;
	--fds-cb-alphablack40: #0006;
	--fds-cb-alphablack54: #0000008a;
	--fds-cb-alphablack60: #0009;
	--fds-cb-alphablack65: #000000a6;
	--fds-cb-alphablack83: #000000d4;
	--fds-cb-alphawhite2: #ffffff05;
	--fds-cb-alphawhite4: #ffffff0a;
	--fds-cb-alphawhite5: #ffffff0d;
	--fds-cb-alphawhite10: #ffffff1a;
	--fds-cb-alphawhite15: #ffffff26;
	--fds-cb-alphawhite20: #fff3;
	--fds-cb-alphawhite43: #ffffff6e;
	--fds-cb-alphawhite56: #ffffff8f;
	--fds-cb-alphawhite68: #ffffffad;
	--fds-cb-alphawhite80: #fffc;
	--fds-cb-alphawhite90: #ffffffe5;
	--fds-cb-gradient-bluepurplel-0: #77acec;
	--fds-cb-gradient-bluepurplel-1: #cfc1fd;
	--fds-cb-gradient-bluepurpled-0: #77acec;
	--fds-cb-gradient-bluepurpled-1: #cfc1fd;
	--fds-cb-palette-0l85: #ffc5d5;
	--fds-cb-palette-0d80: #f9b4c8;
	--fds-cb-palette-40l85: #fdc9b6;
	--fds-cb-palette-40d80: #f7b8a1;
	--fds-cb-palette-80l90: #fcdeb1;
	--fds-cb-palette-80d85: #f3cf97;
	--fds-cb-palette-120l90: #e0e6ba;
	--fds-cb-palette-120d85: #d1d9a2;
	--fds-cb-palette-160l90: #cae9d2;
	--fds-cb-palette-160d85: #b4dec1;
	--fds-cb-palette-200l90: #c4e9ea;
	--fds-cb-palette-200d85: #abdddf;
	--fds-cb-palette-240l90: #cde6fb;
	--fds-cb-palette-240d85: #b7d9f4;
	--fds-cb-palette-280l85: #ced2fb;
	--fds-cb-palette-280d80: #bec3f6;
	--fds-cb-palette-320l85: #eacaf1;
	--fds-cb-palette-320d80: #dfbaea;
}