:root {
	--fds-cb-gray5: #111111;
	--fds-cb-gray6: #131314;
	--fds-cb-gray8: #161719;
	--fds-cb-gray11: #1b1d21;
	--fds-cb-gray15: #242529;
	--fds-cb-gray19: #2e2f33;
	--fds-cb-gray26: #3d3e42;
	--fds-cb-gray94: #ededee;
	--fds-cb-gray96: #f3f3f4;
	--fds-cb-gray98: #f8f8f9;
	--fds-cb-gray100: #ffffff;
	--fds-cb-redl36: #ab0909;
	--fds-cb-redd56: #de5b5d;
	--fds-cb-redd66: #ff746c;
	--fds-cb-yellowl26: #4e3b00;
	--fds-cb-yellowl45: #846708;
	--fds-cb-yellowl88: #ffd974;
	--fds-cb-yellowd80: #f3be62;
	--fds-cb-greenl44: #06783f;
	--fds-cb-greend58: #379d63;
	--fds-cb-greend68: #54b87b;
	--fds-cb-bluel42: #0c6996;
	--fds-cb-bluel50: #007eb5;
	--fds-cb-blued53: #2384cd;
	--fds-cb-blued61: #4198e3;
	--fds-cb-alpha-blued53a30: rgba(35, 132, 205, 0.300);
	--fds-cb-alpha-greend58a10: rgba(55, 157, 99, 0.100);
	--fds-cb-alpha-greend58a15: rgba(55, 157, 99, 0.150);
	--fds-cb-alpha-gray100a2: rgba(255, 255, 255, 0.020);
	--fds-cb-alpha-gray100a4: rgba(255, 255, 255, 0.040);
	--fds-cb-alpha-gray100a5: rgba(255, 255, 255, 0.050);
	--fds-cb-alpha-gray100a10: rgba(255, 255, 255, 0.100);
	--fds-cb-alpha-gray100a15: rgba(255, 255, 255, 0.150);
	--fds-cb-alpha-gray0a2: rgba(0, 0, 0, 0.020);
	--fds-cb-alpha-gray0a5: rgba(0, 0, 0, 0.050);
	--fds-cb-alpha-gray0a10: rgba(0, 0, 0, 0.100);
	--fds-cb-greenl36: #006232;
	--fds-cb-yellowl78: #e7bc3c;
	--fds-cb-yellowd88: #ffd694;
	--fds-cb-redl28: #8b0005;
	--fds-cb-alpha-gray0a15: rgba(0, 0, 0, 0.150);
	--fds-cb-alpha-gray100a20: rgba(255, 255, 255, 0.200);
	--fds-cb-alpha-gray100a80: rgba(255, 255, 255, 0.800);
	--fds-cb-bluel34: #00557c;
	--fds-cb-blued71: #72b3f3;
	--fds-cb-alpha-gray0a40: rgba(0, 0, 0, 0.400);
	--fds-cb-alpha-blued53a8: rgba(35, 132, 205, 0.080);
	--fds-cb-alpha-blued53a15: rgba(35, 132, 205, 0.150);
	--fds-cb-alpha-blued53a45: rgba(35, 132, 205, 0.450);
	--fds-cb-palette-0l85: #ffc5d5;
	--fds-cb-palette-0d80: #f9b4c8;
	--fds-cb-palette-40l85: #fdc9b6;
	--fds-cb-palette-40d80: #f7b8a1;
	--fds-cb-palette-80l90: #fcdeb1;
	--fds-cb-palette-80d85: #f3cf97;
	--fds-cb-palette-120l90: #e0e6ba;
	--fds-cb-palette-120d85: #d1d9a2;
	--fds-cb-palette-160l90: #cae9d2;
	--fds-cb-palette-160d85: #b4dec1;
	--fds-cb-palette-200l90: #c4e9ea;
	--fds-cb-palette-200d85: #abdddf;
	--fds-cb-palette-240l90: #cde6fb;
	--fds-cb-palette-240d85: #b7d9f4;
	--fds-cb-palette-280l85: #ced2fb;
	--fds-cb-palette-280d80: #bec3f6;
	--fds-cb-palette-320l85: #eacaf1;
	--fds-cb-palette-320d80: #dfbaea;
	--fds-cb-alpha-gray0a25: rgba(0, 0, 0, 0.250);
	--fds-cb-alpha-gray0a54: rgba(0, 0, 0, 0.540);
	--fds-cb-alpha-gray0a65: rgba(0, 0, 0, 0.650);
	--fds-cb-alpha-gray0a83: rgba(0, 0, 0, 0.830);
	--fds-cb-alpha-gray0a60: rgba(0, 0, 0, 0.600);
	--fds-cb-alpha-gray0a37: rgba(0, 0, 0, 0.370);
	--fds-cb-alpha-gray100a43: rgba(255, 255, 255, 0.430);
	--fds-cb-alpha-gray100a56: rgba(255, 255, 255, 0.560);
	--fds-cb-alpha-gray100a68: rgba(255, 255, 255, 0.680);
	--fds-cb-alpha-gray100a90: rgba(255, 255, 255, 0.900);
	--fds-cb-redd74: #ff9a97;
	--fds-cb-redl22: #6f0506;
	--fds-cb-alpha-redd66a30: rgba(255, 116, 108, 0.300);
	--fds-cb-alpha-redd66a13: rgba(255, 116, 108, 0.130);
	--fds-cb-alpha-redd66a8: rgba(255, 116, 108, 0.080);
	--fds-cb-alpha-greend58a30: rgba(55, 157, 99, 0.300);
	--fds-cb-alpha-yellowd60a8: rgba(190, 134, 0, 0.080);
	--fds-cb-alpha-yellowd60a15: rgba(190, 134, 0, 0.150);
	--fds-cb-alpha-yellowd60a30: rgba(190, 134, 0, 0.300);
	--fds-cb-greenl28: #004d26;
	--fds-cb-greend78: #75d591;
	--fds-cb-alpha-purpled40a10: rgba(98, 70, 201, 0.100);
	--fds-cb-alpha-purpled40a20: rgba(98, 70, 201, 0.200);
	--fds-cb-alpha-purpled40a35: rgba(98, 70, 201, 0.350);
	--fds-cb-purplel28: #482e92;
	--fds-cb-purplel36: #5b43a6;
	--fds-cb-purplel42: #6a52b5;
	--fds-cb-purpled55: #886ef3;
	--fds-cb-purpled65: #a38dff;
	--fds-cb-purpled75: #beaeff;
	--fds-cb-gradient-bluepurplel-0: #77acec;
	--fds-cb-gradient-bluepurplel-1: #cfc1fd;
	--fds-cb-gradient-bluepurpled-0: #77acec;
	--fds-cb-gradient-bluepurpled-1: #cfc1fd;
	--fds-cb-alpha-gray11a70: rgba(27, 29, 33, 0.700);
	--fds-cb-alpha-gray98a70: rgba(248, 248, 249, 0.700);
	--fds-cb-alpha-gray100a30: rgba(255, 255, 255, 0.300);
	--fds-cb-alpha-gray100a25: rgba(255, 255, 255, 0.250);
	--fds-cb-alpha-gray100a35: rgba(255, 255, 255, 0.350);
	--fds-cb-alpha-redd66a45: rgba(255, 116, 108, 0.450);
	--fds-cb-alpha-greend58a45: rgba(55, 157, 99, 0.450);
}