:root {
	--fds-t-title-h1-semibold-font-weight: var(fds-tb-weight-lg);
	--fds-t-title-h1-semibold-font-size: var(fds-tb-size-900);
	--fds-t-title-h1-semibold-line-height: var(fds-tb-lineheight-900);
	--fds-t-title-h2-semibold-font-weight: var(fds-tb-weight-lg);
	--fds-t-title-h2-semibold-font-size: var(fds-tb-size-700);
	--fds-t-title-h2-semibold-line-height: var(fds-tb-lineheight-900);
	--fds-t-title-h2-regular-font-weight: var(fds-tb-weight-md);
	--fds-t-title-h2-regular-font-size: var(fds-tb-size-700);
	--fds-t-title-h2-regular-line-height: var(fds-tb-lineheight-900);
	--fds-t-title-h3-semibold-font-weight: var(fds-tb-weight-lg);
	--fds-t-title-h3-semibold-font-size: var(fds-tb-size-500);
	--fds-t-title-h3-semibold-line-height: var(fds-tb-lineheight-700);
	--fds-t-body-lg-semibold-font-weight: var(fds-tb-weight-lg);
	--fds-t-body-lg-semibold-font-size: var(fds-tb-size-350);
	--fds-t-body-lg-semibold-line-height: var(fds-tb-lineheight-500);
	--fds-t-body-lg-regular-font-weight: var(fds-tb-weight-md);
	--fds-t-body-lg-regular-font-size: var(fds-tb-size-350);
	--fds-t-body-lg-regular-line-height: var(fds-tb-lineheight-500);
	--fds-t-body-md-caps-semibold-font-weight: var(fds-tb-weight-lg);
	--fds-t-body-md-caps-semibold-font-size: var(fds-tb-size-300);
	--fds-t-body-md-caps-semibold-line-height: var(fds-tb-lineheight-450);
	--fds-t-body-md-caps-regular-font-weight: var(fds-tb-weight-md);
	--fds-t-body-md-caps-regular-font-size: var(fds-tb-size-300);
	--fds-t-body-md-caps-regular-line-height: var(fds-tb-lineheight-450);
	--fds-t-body-md-semibold-font-weight: var(fds-tb-weight-lg);
	--fds-t-body-md-semibold-font-size: var(fds-tb-size-300);
	--fds-t-body-md-semibold-line-height: var(fds-tb-lineheight-450);
	--fds-t-body-md-regular-font-weight: var(fds-tb-weight-md);
	--fds-t-body-md-regular-font-size: var(fds-tb-size-300);
	--fds-t-body-md-regular-line-height: var(fds-tb-lineheight-450);
	--fds-t-body-sm-semibold-font-weight: var(fds-tb-weight-lg);
	--fds-t-body-sm-semibold-font-size: var(fds-tb-size-250);
	--fds-t-body-sm-semibold-line-height: var(fds-tb-lineheight-400);
	--fds-t-body-sm-regular-font-weight: var(fds-tb-weight-md);
	--fds-t-body-sm-regular-font-size: var(fds-tb-size-250);
	--fds-t-body-sm-regular-line-height: var(fds-tb-lineheight-400);
	--fds-t-body-xs-semibold-font-weight: var(fds-tb-weight-lg);
	--fds-t-body-xs-semibold-font-size: var(fds-tb-size-225);
	--fds-t-body-xs-semibold-line-height: var(fds-tb-lineheight-400);
	--fds-t-body-xs-regular-font-weight: var(fds-tb-weight-md);
	--fds-t-body-xs-regular-font-size: var(fds-tb-size-225);
	--fds-t-body-xs-regular-line-height: var(fds-tb-lineheight-400);
	--fds-t-link-lg-semibold-font-weight: var(fds-tb-weight-lg);
	--fds-t-link-lg-semibold-font-size: var(fds-tb-size-350);
	--fds-t-link-lg-semibold-line-height: var(fds-tb-lineheight-500);
	--fds-t-link-md-semibold-font-weight: var(fds-tb-weight-lg);
	--fds-t-link-md-semibold-font-size: var(fds-tb-size-300);
	--fds-t-link-md-semibold-line-height: var(fds-tb-lineheight-450);
}